h1{
  color:#FFC300;
  text-align: center;
}
h2{
  color: #C70039 ;
}
span{
     color: hsla(0deg, 50%, 40%, 0.5);
     background-color:#FFC300 ;
}
div{
  color: hsla(0deg, 50%, 100%, 0.5);
  background-color:#9FA4A4  ;
}
p{
  color:white;
}
.Reason{
  font-style: italic;
  font-size: 18px;
  border-radius: 20px;
}
h3{
  color:#2CA69C ;
}
h4{
  color:#103806  ;
  text-align:left;
}
.Links{
  border-radius: 20px;
  color:darkred;
}
p.Links{
  color:white;
}
body{
  background-color:#EDE8E7  ;
  font-family: sans-serif;

}
