h1{
  color:#FFC300;
  text-align: center;
}
h2{
  color: #C70039 ;
}
p{
  color:#F7E80D;
}
.Reason{
  font-style: italic;
  font-size: 18px;
  border-radius: 20px;
}
h3{
  color:#2CA69C ;
}
h4{
  color:#103806  ;
  text-align:left;
}
.Links{
  border-radius: 20px;
  color:#B61620 ;
}
p.Links{
  color:#F7E80D;
}
body{
  background-color:#EDE8E7  ;
  font-family: sans-serif;
}
