h1{
  color:#FFC300;
  text-align: center;
}
h2{
  color: #C70039 ;
}
p{
  color:#F9F9F9;
}
.Reason{
  font-style: italic;
  font-size: 18px;
  border-radius: 20px;
}
h3{
  color:#2CA69C ;
}
h4{
  color:#103806  ;
  text-align:left;
}
.Links{
  border-radius: 10px;
  color:#D6111D ;
}
p.Links{
  color:#F9F9F9 ;
}
body{
  background-color:#EDE8E7  ;
  font-family: sans-serif;
}
